@use '../abstracts/' as abs;

.hero {
	margin-bottom: 3.25rem;

	@include abs.breakpoint(medium) {
		width: 45%;
		margin-bottom: 0;
	}

	&__title {
		font-size: var(--fs-600);
		font-weight: 600;
		text-transform: uppercase;
		margin-bottom: 0.625rem;
	}

	&__body {
		font-size: var(--fs-500);
		width: 88%;

		@include abs.breakpoint(medium) {
			width: 100%;
			font-size: var(--fs-600);
		}
	}
}