@use '../abstracts/' as abs;

.team-page {
	padding: 1.5rem 0.75rem; 
	min-height: 100vh;
	display: flex;
	flex-direction: column;

	@include abs.breakpoint(medium) {
		width: 65%;
		max-width: abs.rem(935);
		margin-inline: auto;
	}
}

.header {

	display: flex;
	flex-direction: column;

	@include abs.breakpoint(medium) {
		flex-direction: row;
		justify-content: space-between;
		margin-top: 6.875rem;
		margin-bottom: 6rem;
	}

	&__title {
		margin-top: 3rem;
		margin-bottom: 2.375rem;
		font-family: var(--ff-serif);
		font-weight: 700;
		font-size: var(--fs-700);
		line-height: 1.3;
		letter-spacing: -0.045em;


		@include abs.breakpoint(medium) {
			width: 50%;
			margin: 0;
		}
	}
	
}

.footer {
	display: flex;
	justify-content: center;
	margin-top: auto;

	&__attribution {
		font-weight: 500;
		font-family: var(--ff-sans);
		color: #A9A9A9;
	}

	&__link {
		color: #A9A9A9;
		font-weight: 700;
	}
}